/* (Start) Обертка всей страницы*/
.page-wrapper
	display: flex
	flex-direction: column
	min-height: 100%
main
	flex: 1 1 auto
/* (End) Обертка всей страницы*/

/* (Start) Titles and Text */
h1, h2, h3, h4, h5
	font-weight: bold
	color: var(--title-color-1)
.h1
	font-size: var(--h1)
.h2
	font-size: var(--h2)
.h3
	font-size: var(--h3)
.h4
	font-size: var(--h4)
.h5
	font-size: var(--h5)

p
	line-height: normal
/* (End) Titles and Text */

/* (Start) Highlighted spans in the title */
.primary-title
	& > span
		color: var(--primary-color)
/* (End) Highlighted spans in the title */

/* (Start) Header Menu*/
.header
	--menu-bot-padding-y: .875rem
	position: relative
.header-top
	padding: 1rem 0
	.navbar-brand
		font-size: var(--fz-3)
		color: var(--title-color-2)
		margin-right: 2rem
	.navbar-descr
		max-width: 150px
		font-size: var(--fz-4)
		color: var(--gray)
	.navbar-collapse
		transition: padding .25s ease
		& > div
			display: flex
			align-items: center
			justify-content: space-between
			flex-grow: 1
.header-bottom
	--menu-bot-height: 50px
	padding: var(--menu-bot-padding-y) 0
	.btn-primary
		width: 100%
		max-width: 140px
		height: var(--menu-bot-height)
		letter-spacing: .15em
		text-align: left
		border-radius: var(--bs-btn-border-radius) var(--bs-btn-border-radius) 0 0
		position: relative
		z-index: 1
		&.collapsed
			border-radius: var(--bs-btn-border-radius)
	.btn-location, .block-phone, .cart
		height: var(--menu-bot-height)
	.form-control-lg
		font-size: var(--fz-3)
		min-height: var(--menu-bot-height)
	&-form
		--form-width-btn: 50px
		width: 100%
		.btn-icon
			width: var(--form-width-btn)
			height: var(--menu-bot-height)
		.form-control-lg
			padding-right: var(--form-width-btn)
			&:focus, &:active
				border: none
				box-shadow: var(--bsh-1)
/* (End) Header Menu*/

/* (Start) Catalog Menu*/
.catalog-collapse
	width: 100%
	top: calc( 100% + (var(--menu-bot-padding-y) * (-1)) )
	position: absolute
	z-index: 100
.catalog-menu
	width: 100%
	max-width: 1250px
	margin: 0 auto
	background-color: #fff
	border-top: 10px solid var(--primary-color)
	box-shadow: var(--bsh-2)
	border-radius: 0 0 var(--bs-border-radius-lg) var(--bs-border-radius-lg)
	overflow: hidden
	position: relative
	/* (Start) Главные список*/
	.list-group
		--bs-list-group-color: var(--title-color-1)
		--bs-list-group-bg: #eef5ff
		--bs-list-group-border-color: transparent
		--bs-list-group-border-width: 0
		--bs-list-group-border-radius: 0
		--bs-list-group-item-padding-x: 3.4rem
		--bs-list-group-item-padding-y: 0.5rem
		--bs-list-group-action-color: var(--primary-color)
		--bs-list-group-action-hover-color: var(--primary-color)
		--bs-list-group-action-hover-bg: #eef5ff
		--bs-list-group-action-active-color: var(--primary-color)
		--bs-list-group-action-active-bg: transparent
		--bs-list-group-active-color: var(--primary-color)
		--bs-list-group-active-bg: #fff
		--bs-list-group-active-border-color: #fff
		--bs-list-group-item-padding-y: .4rem
		--list-group-padding-y: 1rem
		--list-group-padding-x: 0
		padding: var(--list-group-padding-y) var(--list-group-padding-x) calc( var(--list-group-padding-y) * 2 )
		background-color: var(--bs-list-group-bg)
		border-right: 1px solid #dee6f1
	/* (End) Главные список*/
	/* (Start) Раскрывается из главного списка*/
	.list-group-inner
		width: 60%
		display: none
		grid-template-columns: repeat(3, 1fr)
		justify-content: space-between
		padding: var(--list-group-padding-y) 2rem
		background-color: transparent
		position: absolute
		top: 0
		left: 40%
		.list-group
			--bs-list-group-item-padding-y: .6rem
			--bs-list-group-item-padding-x: 1rem
			--bs-list-group-bg: transparent
			--bs-list-group-active-bg: transparent
			--bs-list-group-action-hover-bg: transparent
			border: none
			padding: 0
			& > li
				padding: 0
				cursor: auto
				a
					display: block
					max-width: 220px
					color: inherit
					padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x)
					cursor: pointer
				&:hover, &:active
					a
						text-decoration: none
	/* (End) Раскрывается из главного списка*/
.catalog-list
	line-height: 1
	padding: 0
	position: static
	cursor: pointer
	&.active
		.list-group-inner
			display: grid
		.arrow
			opacity: 1
			visibility: visible
			&-left
				transform: rotate(-20deg)
			&-right
				transform: rotate(20deg)
.catalog-item
	display: block
	padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x)
	position: relative
	.arrow
		width: 16px
		height: 100%
		position: absolute
		top: 0
		right: 0
		background: white
		transform: translateX(12px)
		&-left, &-right
			left: 50%

.arrow
	opacity: 0
	visibility: hidden
	height: 3rem
	&-left, &-right
		display: block
		background-color: var(--primary-color)
		width: 2px
		height: 53%
		position: absolute
		transition: transform .5s ease-in-out, width .3s ease-in-out
	&-left
		top: 0
		transform: rotate(0deg)
	&-right
		bottom: 0
		transform: rotate(0deg)
/* (End) Catalog Menu*/

/* (Start) Custom button*/
.btn-link
	--btn-link-color: var(--gray-dark)
	--btn-link-color--hover: var(--gray)
	--btn-link-color--active: var(--primary-color-light)
	display: flex
	align-items: center
	gap: .5rem
	padding: .5rem
	font-size: var(--fz-3)
	color: var(--gray-dark)
	white-space: nowrap
	text-decoration: underline
	text-decoration-thickness: .5px
	text-decoration-color: #babfc5
	text-underline-offset: .15rem
	transition: color .3s ease, text-decoration-color .3s ease
.btn.btn-link
	&:hover
		color: var(--btn-link-color--hover)
		text-decoration-color: var(--btn-link-color--hover)
	&:focus, &:focus-visible
		box-shadow: none
	&:active
		color: var(--btn-link-color--active)
		text-decoration-color: var(--btn-link-color--active)

.btn-mail
	--btn-mail-color: var(--primary-color)
	--btn-mail-color--hover: var(--gray)
	--btn-mail-color--active: var(--primary-color-light)
	--btn-decor-color: #a4cbea
	color: var(--btn-mail-color)
	text-decoration-color: var(--btn-decor-color)
	text-decoration-thickness: .5px
	&:hover
		color: var(--btn-mail-color--hover)
		text-decoration-color: var(--btn-mail-color--hover)
	&:focus
		box-shadow: none
	&:active
		color: var(--btn-mail-color--active)
		text-decoration-color: var(--btn-mail-color--active)

.btn-icon
	width: 50px
	height: 50px
	display: flex
	align-items: center
	justify-content: center
	padding: 0
	margin: 0
	transition: opacity .3s ease
	&:hover
		opacity: .75
	&:active, &:focus
		border: none
		box-shadow: none

.btn-location
	--location-bg: #cbe9fe
	--location-bg-hover: #b8dcf5
	--location-color: #4772ad
	display: flex
	justify-content: space-between
	width: 100%
	height: 50px
	font-size: var(--fz-4)
	color: var(--location-color)
	background-color: var(--location-bg)
	border-color: var(--location-bg)
	padding: .3em .5em .3em .75em
	text-align: left
	&-text
		width: 85%
		white-space: nowrap
	span
		display: block
		width: 99%
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
		color: var(--title-color-2)
	img
		align-self: flex-end
		flex-shrink: 0
.btn.btn-location
	&:hover, &:focus
		background-color: var(--location-bg-hover)
		border-color: transparent
		box-shadow: none
	&:active
		background-color: var(--location-bg)
		border-color: transparent
		box-shadow: none

.btn-gradient
	--bs-btn-height: 2.5rem
	--bs-btn-padding-x: 1.25rem
	--bs-btn-padding-y: 0
	--bs-btn-font-size: var(--fz-3)
	--bs-btn-color: var(--title-color-2)
	--bs-btn-hover-color: var(--title-color-2)
	--bs-btn-active-color: white
	--bs-btn-bg: var(--gradient-primary)
	--bs-btn-hover-bg: var(--gradient-primary-hover)
	--bs-btn-active-bg: var(--primary-color)
	--bs-btn-border-width: 0
	--bs-btn-border-color: transparent
	width: 100%
	max-width: 160px
	height: var(--bs-btn-height)
	display: flex
	align-items: center
	background: var(--bs-btn-bg)
	&:hover
		background: var(--bs-btn-hover-bg)
	&:active
		background: var(--bs-btn-active-bg)
	&-orange
		--bs-btn-height: 3.125rem
		--bs-btn-padding-x: 1.25rem
		--bs-btn-padding-y: 0
		--bs-btn-font-size: var(--fz-2)
		--bs-btn-color: white
		--bs-btn-hover-color: white
		--bs-btn-active-color: white
		--bs-btn-bg: var(--gradient-orange)
		--bs-btn-hover-bg: var(--gradient-orange-hover)
		--bs-btn-active-bg: var(--gradient-orange)
		--bs-btn-border-width: 0
		--bs-btn-border-color: transparent
		width: 100%
		max-width: 240px
		height: var(--bs-btn-height)
		display: flex
		align-items: center
		justify-content: center
		background: var(--bs-btn-bg)
		&:hover
			background: var(--bs-btn-hover-bg)
		&:active
			background: var(--bs-btn-active-bg)

/* (End) Custom button*/

/* (Start) Reused button*/
.btn-primary
	--bs-btn-bg: var(--primary-color)
	--bs-btn-border-color: var(--primary-color)
	--bs-btn-hover-bg: var(--primary-color-light)
	--bs-btn-hover-border-color: var(--primary-color-light)
	--bs-btn-active-bg: var(--primary-color)
	--bs-btn-active-border-color: var(--primary-color)
	--bs-btn-disabled-bg: var(--primary-color)
	--bs-btn-disabled-border-color: var(--primary-color)
	height: 50px
	font-size: var(--fz-3)
	font-weight: 600
	line-height: 1
	&:focus-visible
		box-shadow: none
/* (End) Reused button*/

/* (Start) Reused Var Color */
.bg-light
	--bs-light-rgb: var(--blue-light-75)
/* (End) Reused Var Color */

/* (Start) Reused input*/
.form-control
	--bs-border-color: var(--primary-color)

.form-control-lg
	min-height: 50px
	font-size: var(--fz-2)

/* (End) Reused input*/

/* (Start) Block phone*/
.block-phone
	height: 50px
	display: flex
	flex-direction: column
	justify-content: space-between
	font-size: var(--fz-1)
	font-weight: bold
	color: var(--title-color-1)
	padding: 	0 .3em
	.btn-link
		--btn-link-color: var(--title-color-2)
		line-height: 1
		padding: 0
/* (End) Block phone*/

/* (Start) Block nav menu */
.block-nav
	flex-direction: row
	font-size: var(--fz-3)
	color: var(--title-color-2)
	.dropdown-toggle::after
		vertical-align: .175em
	.nav-item
		position: relative
		&::after
			content: ''
			width: 1px
			height: 100%
			background-color: #ccdce4
			position: absolute
			top: 0
			right: 0
		&:first-child
			.nav-link
				padding-left: 0
		&:last-child
			.nav-link
				padding-right: 0
			&::after
				all: unset
	.nav-link
		color: inherit
		line-height: 1
		padding: 0 .75rem
		transition: text-shadow .3s ease
		&:hover
			text-shadow: 0 0 1px currentColor
/* (End) Block nav menu */

/* (Start) Block Cart*/
.cart
	height: 50px
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	font-size: var(--fz-4)
	line-height: 1
	color: var(--primary-color)
	cursor: pointer
	img
		margin-top: -.25em
	&:hover
		opacity: .75
/* (End) Block Cart*/

/* (Start) Callback Form */
.form-callback
	--callback-padding-x: 1.875rem
	--callback-padding-y: 1.875rem
	--callback-fields-offset: 1.25rem
	background: var(--gradient-blue-light)
	border-radius: var(--bs-border-radius)
	padding: var(--callback-padding-y) 8.75rem calc( var(--callback-padding-y) * 1.5 ) var(--callback-padding-x)
	position: relative
	z-index: 1
	&-decor
		width: 140px
		height: 165px
		background-repeat: no-repeat
		background-position: center center
		background-size: contain
		position: absolute
		bottom: var(--callback-padding-y)
		right: var(--callback-padding-x)
		z-index: -1
	h3, p
			color: var(--title-color-1)
	p
		margin-bottom: 0
	&-wrapper
		display: flex
		align-items: center
		gap: var(--callback-fields-offset)
		padding: 1.25rem 0
	&-fields
		display: flex
		align-items: center
		gap: var(--callback-fields-offset)
	&-rules
		max-width: 520px
		line-height: normal
		text-align: justify
		color: var(--text-color-light)
		a
			--bs-link-color-rgb: var(--gray-dark)
			&:hover
				--bs-link-color-rgb: var(--gray)
			&:active
				--bs-link-color-rgb: var(--primary-color)
				text-decoration-color: var(--bs-link-color-rgb)
				transition: none

	.form-control
		--bs-border-color: #b8d6f2

/* (End) Callback Form */

/* (Start) Customize Tooltip*/
.tooltip-location
	.tooltip-arrow
		&:before
			transform: translateX(-3rem)
			border-bottom-color: white
	.tooltip-inner
		width: 100%
		max-width: 240px
		font-size: var(--fz-4)
		color: #485a74
		text-align: left
		background-color: white
		padding: .5rem 1rem
		box-shadow: var(--bsh-1)
/* (End) Customize Tooltip*/

/* (Start) Customize SwiperJS*/
.swiper-button-next, .swiper-button-prev
	height: 100%
	margin-top: unset
/* (End) Customize SwiperJS*/

/* (Start) Section */
.section
	--section-padding-y: 1.875rem
	padding: var(--section-padding-y) 0
/* (End) Section */

/* (Start) Wrapper SwiperJS */
.wrapper-carousel
	position: relative
/* (End) Wrapper SwiperJS */

/* (Start) Background Decor */
.backdrops
	position: relative
	&-left::after, &-right::before
		content: ''
		width: 50%
		position: absolute
		top: var(--section-padding-y)
		bottom: var(--section-padding-y)
		z-index: -1
	&-left
		&::after
			background-color: rgb(var(--blue-light-25))
			left: 0
	&-right
		&::before
			background-color: rgb(var(--blue-light-75))
			right: 0
		&-mini::after
			content: ''
			width: 300px
			height: 100%
			background-color: rgb(var(--blue-light-25))
			position: absolute
			top: 0
			bottom: 0
			right: -60px
/* (End) Background Decor */

/* (Start) Main Section */
.section-main
	position: relative
	&::after, &::before
		content: ''
		width: 50%
		position: absolute
		top: var(--section-padding-y)
		bottom: var(--section-padding-y)
	&::after
		background-color: rgb(var(--blue-light-25))
		left: 0
	&::before
		background-color: rgb(var(--blue-light-75))
		right: 0

.swiper-main
	--swiper-padding-y: 2.5rem
	--swiper-padding-x: 2.5rem
	width: 90%
	margin: 0 auto
	background-color: rgb(var(--blue-light-75))
.main-slide
	&-content
		width: 100%
		padding: var(--swiper-padding-y) calc( var(--swiper-padding-x) / 3 ) var(--swiper-padding-y) var(--swiper-padding-x)
		h2
			margin-bottom: 2rem
			span
				display: block
				font-size: var(--fz-2)
				font-weight: normal
				margin-top: .4rem
	&-image
		height: 100%
		position: relative
		img
			width: 100%
			height: auto

/* (Start) Main Pagination */
.swiper-main
	& > .swiper-main-pagination
		width: auto
		left: var(--swiper-padding-x)
		.swiper-pagination-bullet
			border: var(--swiper-pagination-border-width) var(--swiper-pagination-border-style) var(--swiper-pagination-border-color)
/* (End) Main Pagination */
/* (End) Main Section */

/* (Start) Catalog Section */
.section-catalog
	&-wrapper
		--catalog-item-padding-x: 1.125rem
		--catalog-item-padding-y: 1.125rem
		--catalog-item-offset: 2px
		--catalog-item-offset-color: #cbe9fe
		--catalog-item-offset-color-active: var(--primary-color)
		--catalog-item-title-color: var(--title-color-2)
		--catalog-item-title-color-active: var(--primary-color)
		--catalog-item-img-gradien: linear-gradient(90deg, transparent 0%, rgb(255, 255, 255) 100%)
		display: grid
		grid-template-columns: repeat(5, 1fr)
		gap: var(--catalog-item-offset)
		margin: var(--catalog-item-offset)
	&-item
		min-height: 100px
		display: flex
		justify-content: space-between
		background-color: white
		padding: var(--catalog-item-padding-y) var(--catalog-item-padding-x)
		cursor: pointer
		text-decoration: none
		position: relative
		&-title
			max-width: 160px
			color: var(--catalog-item-title-color)
			line-height: normal
			text-decoration: none
			transition: color .3s ease
		&-image
			align-self: flex-end
			flex-shrink: 0
			// margin-right: calc( (var(--catalog-item-padding-x) * (-1)) + .125rem)
			// margin-bottom: calc( var(--catalog-item-padding-y) * (-1) )
			position: absolute
			right: .125rem
			bottom: 0
			opacity: 0.5
			transition: opacity .3s ease
			&::before
				content: ''
				background: var(--catalog-item-img-gradien)
				position: absolute
				inset: 0
				opacity: 1
				transition: opacity .3s ease
		&::after
			content: ''
			background-color: var(--catalog-item-offset-color)
			position: absolute
			inset: calc( var(--catalog-item-offset) * (-1) )
			isolation: isolate
			z-index: -2
			transition: background-color .3s ease
		&:hover, &:active, &:focus
			&::after
				background-color: var(--catalog-item-offset-color-active)
				z-index: -1
			.section-catalog-item-title
				color: var(--catalog-item-title-color-active)
			.section-catalog-item-image
				opacity: 1
				&::before
					opacity: 0
/* (End) Catalog Section */

/* (Start) Advantages Section */
.section-advantages
	&-wrapper
		background-color: white
	&-title
		width: 100%
		height: 100%
		background-color: rgb(var(--blue-light-75))
		padding: 3.125rem 1.875rem
		h2, p
			max-width: 220px
	&-content
		display: grid
		grid-template-columns: repeat(3, 1fr)
		row-gap: 3rem
		padding-left: 3rem
	&-image
		margin-bottom: 1rem
		img
			width: auto
			height: 3.125rem
	&-text
		width: 100%
		max-width: 200px
		line-height: normal
		color: var(--title-color-2)
/* (End) Advantages Section */

/* (Start) Certificate Section */
.section-certificate
	&-wrapper
		background-color: white
	&-title
		height: 100%
		display: flex
		align-items: center
		padding: 1rem 0
		h2
			max-width: 650px

.swiper-certificate
	width: 75%
	&-slide
		img
			width: 100%
			height: auto
			object-fit: contain
/* (End) Certificate Section */

/* (Start) Partners Section */
.section-partners
	&-wrapper
		display: grid
		grid-template-columns: repeat(8, 1fr)
		align-items: center
		gap: 60px 30px
	&-item
		img
			width: 100%
			height: auto
			max-height: 80px
			object-fit: contain
/* (End) Partners Section */

/* (Start) Showing Section */
.section-showing
	&-wrapper
		--swowing-padding-x: 1rem
		&.backdrops
			&-left::after, &-right::before
				top: 0
				bottom: 0
			&-right::before
				background-color: rgb(var(--blue-light-25))
	&-title
		padding-right: var(--swowing-padding-x)
	&-text
		max-width: calc( 400px + var(--swowing-padding-x) )
		margin-left: 5rem
		padding: 1rem var(--swowing-padding-x) 0 0
	&-content
		height: 100%
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-template-rows: max-content
		align-content: center
		gap: 40px
		padding: 0 40px
		background-color: rgb(var(--blue-light-75))
	&-item
		h3, &>div
			line-height: normal
		h3
			color: var(--primary-color)
			margin-bottom: 0
		&>div
			max-width: 200px
			color: var(--title-color-2)

	.form-callback
		border-radius: var(--bs-border-radius) 0 var(--bs-border-radius) var(--bs-border-radius)
/* (End) Showing Section */

/* (Start) Footer */
.footer
	&-top
		padding: 1.5rem 0 1rem
	&-bottom
		padding: 1.875rem 0
		background-color: rgb(var(--blue-light-50))
	&-copy
		font-size: var(--fz-4)
		line-height: normal
		color: var(--text-color-light)
/* (End) Footer */
